<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>&lt;%d{HH:mm:ss}&gt; [%thread] %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>